@model AbcBooks.Models.ViewModels.ShoppingCartViewModel

@{
	ViewData["Title"] = "Cart";
}

<h1>Shopping Cart</h1>
<hr />

@if (TempData["OrderExceedsStock"] is not null)
{
	<div class="alert alert-dismissible alert-danger">
		<button type="button" class="btn-close" data-bs-dismiss="alert"></button>
		<strong>@TempData["OrderExceedsStock"]</strong>
	</div>
}

<form method="post">
	<br />
	<div class="container">
		<div class="card">
			<div class="card-header bg-primary text-light ml-0">
				<div class="row">
					<div class="col-6  pt-2"></div>
					<div class="col-6 text-end">
						<a asp-controller="Home" asp-action="Browse" class="btn btn-outline-light">Continue Shopping</a>
					</div>
				</div>
			</div>

			@if (Model.CartItems.Any())
			{
				<div class="card-body">
					@foreach (var item in Model.CartItems)
					{
						<div class="d-none d-lg-block col-lg-1 text-center py-2">
							@foreach (var image in Model.ProductImages)
							{
								@if (image.ProductId == item.ProductId)
								{
									<img src="@image.ImageUrl" class="rounded" width="100%" />
									break;
								}
							}
						</div>
						<div class="row">
							<div class="col-12 col-lg-6 pt-md-3">
								<h5><strong>@item.Product.Title</strong></h5>
								<p><small>@Html.Raw(item.Product.Description)</small></p>
							</div>
							<div class="col-12 col-lg-5 text-center row">
								<div class="col-4 text-md-right pt-4">
									<h6>
										<strong>
											@(item.ListPrice.ToString("c"))
											<span class="text-muted">&nbsp;x&nbsp;</span>@item.Quantity
										</strong>
									</h6>
								</div>
								<div class="col-6 col-sm-4 col-lg-6 pt-2">
									<div class="w-75 btn-group" role="group">
										<a asp-action="Plus" asp-route-cartId="@item.Id" class="btn btn-primary">
											<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
												<path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z" />
											</svg>
										</a> &nbsp;
										@if (item.Quantity >= 1)
										{
											<a asp-action="Minus" asp-route-cartId="@item.Id" class="btn btn-warning">
												<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-dash" viewBox="0 0 16 16">
													<path d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z" />
												</svg>
											</a>
										}
									</div>

								</div>
								<div class="col-2 col-sm-4 col-lg-2 text-right pt-2">
									<a asp-action="Remove" asp-route-cartId="@item.Id" class="btn btn-danger">
										<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
											<path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6Z" />
											<path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1ZM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118ZM2.5 3h11V2h-11v1Z" />
										</svg>
									</a>
								</div>
							</div>
						</div>
						<hr />
					}
					<div class="row">
						<div class="col-12 col-md-6 offset-md-6 col-lg-4 offset-lg-8 pr-4">
							<ul class="list-group">
								<li class="list-group-item d-flex justify-content-between bg-light">
									<span class="text-info"> Total</span>
									<strong class="text-info">@Model.Order.OrderTotal.ToString("c")</strong>
								</li>
							</ul>
						</div>
					</div>

				</div>

				<div class="card-footer">
					<div class="card-footer row">
						<div class="col-sm-12 col-lg-4 col-md-6 offset-lg-8 offset-md-6 ">
							<a asp-action="Summary" class="btn btn-success form-control">Summary</a>
						</div>
					</div>
				</div>
			}
			else
			{
				<div class="text-center p-5">
					<h2>Cart is Empty</h2>
				</div>
			}

		</div>
	</div>
</form>